@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deck Master</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PayPalDemo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color:#6E0B14">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/deckmasterGrey.png" style="max-width:70px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link"
                               style="color:#D9D9D9 !important; font-size: 1.3em !important;"
                               asp-controller="Home"
                               asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               style="color:#D9D9D9 !important; font-size: 1.3em !important;"
                               asp-controller="Shop"
                               asp-action="Index">
                                Shop
                            </a>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   style="color:#D9D9D9 !important; font-size: 1.3em !important;"
                                   asp-controller="Users"
                                   asp-action="Index">
                                    Users
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   style="color:#D9D9D9 !important; font-size: 1.3em !important;"
                                   asp-controller="Roles"
                                   asp-action="Index">
                                    Roles
                                </a>
                            </li>
                        }

                    </ul>


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div style="text-align: center;">
            <strong style="line-height: 1em; color:#8B0000;">
                <span style="font-size: 2em;">D</span><span style="font-size: 1.6em;">ECK</span>
                <span style="font-size: 2em;">M</span><span style="font-size: 1.6em;">ASTER</span>
            </strong>
            <div style="font-size: 1.5em; line-height: .6em; color:#8B8B8B;">You won't find better</div>
        </div>
        <hr />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; - Deck Master
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <script src="https://www.paypal.com/sdk/js?client-id=@Configuration["PayPal:ClientId"]&currency=CAD"></script>

    </body>
</html>
